@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply transition-colors duration-500;
}

/* Default to light mode styles */
html:not(.dark) {
  @apply bg-stone-100 text-neutral-700;
}

html:not(.dark) .openai-icon-wrapper img {
  filter: invert(1);
}

/* Theme Toggle Button Styles */
.theme-toggle-button {
  @apply fixed top-5 right-5 z-50 p-2 rounded-full cursor-pointer;
  @apply bg-transparent transition-colors duration-300;
}

.theme-toggle-button.light-mode {
  @apply hover:bg-neutral-200; /* Light gray hover */
}

.theme-toggle-button.dark-mode {
  @apply hover:bg-neutral-700; /* Dark gray hover */
}

.theme-toggle-icon-container {
  @apply w-6 h-6 relative;
}

.theme-toggle-icon-container svg {
  @apply absolute top-0 left-0 w-full h-full transition-all duration-300 ease-in-out;
  opacity: 0;
  transform: scale(0.8);
}

.theme-toggle-icon-container svg.visible {
  opacity: 1;
  transform: scale(1);
}

/* Dark mode styles */
html.dark {
  @apply bg-neutral-900 text-white;
}

li {
  padding-top: 5px;
}

@layer components {
  .icon-row {
    @apply self-stretch flex items-stretch justify-center mt-5 gap-5
    max-lg:mt-4 max-lg:gap-4;
  }
  .icon-px {
    @apply flex flex-col justify-center items-center w-[140px] h-[140px] px-9 rounded-[30px] 
    bg-stone-200
    dark:bg-neutral-800 dark:hover:bg-neutral-700 
    max-xl:w-[120px] max-xl:h-[120px] max-xl:px-8 
    max-lg:w-[100px] max-lg:h-[100px] max-lg:px-7
    max-md:w-[110px] max-md:h-[110px] max-md:px-7;
  }
  .section-break {
    @apply mb-48;
  }
  .section-wrap {
    @apply w-full max-w-[1440px] mt-40 
    max-md:max-w-full max-md:flex-col max-md:items-stretch section-break
    max-xl:mt-20 flex justify-center 
    md:gap-10 
    lg:gap-16 
    xl:gap-28;
  }
  .section-column {
    @apply self-start gap-3 max-w-sm
    max-md:self-center;
  }
  .text-head {
    /* Accent color should remain consistent for both modes unless specified otherwise */
    @apply text-accent text-center text-xl font-bold tracking-wider uppercase 
    max-md:max-w-full
    max-xl:text-base;
  }
  .text-title {
    @apply text-neutral-700 dark:text-white text-center text-3xl font-bold tracking-wider whitespace-nowrap;
  }
  .text-title2 {
    @apply text-neutral-700 dark:text-white text-center text-2xl font-bold tracking-wider;
  }
  .text-subtitle {
    @apply text-neutral-500 dark:text-zinc-300 text-center text-xl tracking-wide 
    max-lg:text-base;
  }
  .text-desc {
    @apply text-neutral-500 dark:text-zinc-300 text-left text-xl tracking-wide list-disc ml-8 mt-5
    max-lg:text-base
    max-md:w-[280px] max-md:mb-16;
  }
  .icon-title {
    @apply mt-4 mb-20;
  }
  .project-img {
    @apply max-w-[300px] rounded-[50px] mx-auto my-5
    max-xl:w-[250px]
    max-md:w-[230px];
  }
  .project-desc {
    @apply text-neutral-500 dark:text-zinc-400 text-left text-xl tracking-wide ml-8 mt-3
    max-lg:text-base
    max-md:w-[280px];
  }
  .footer-icon {
    @apply w-[50px] h-[50px] rounded-full p-2
    bg-stone-200 
    dark:bg-neutral-800 dark:hover:bg-neutral-700 
    max-xl:w-[50x] max-xl:h-[50px] 
    max-lg:w-[40px] max-lg:h-[40px] ;
  }
}
