@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  padding-top: 5px;
}

@layer components {
  .icon-row {
    @apply self-stretch flex items-stretch justify-center mt-5 gap-5
    max-lg:mt-4 max-lg:gap-4;
  }
  .icon-px {
    @apply flex flex-col justify-center items-center w-[140px] h-[140px] px-9 rounded-[30px] 
    max-xl:w-[120px] max-xl:h-[120px] max-xl:px-8 
    max-lg:w-[100px] max-lg:h-[100px] max-lg:px-7
    max-md:w-[110px] max-md:h-[110px] max-md:px-7;
  }
  .section-break {
    @apply mt-48;
  }
  .section-wrap {
    @apply w-full max-w-[1440px] mt-40 
    max-md:max-w-full max-md:flex-col max-md:items-stretch
    max-xl:mt-20 flex justify-center 
    md:gap-10 
    lg:gap-16 
    xl:gap-28;
  }
  .section-column {
    @apply self-start gap-3 max-w-sm
    max-md:self-center;
  }
  .text-head {
    @apply text-orange-300 text-center text-xl font-bold tracking-wider uppercase 
    max-md:max-w-full
    max-lg:text-lg;
  }
  .text-title {
    @apply text-white text-center text-3xl font-bold tracking-wider whitespace-nowrap;
  }
  .text-title2 {
    @apply text-white text-center text-2xl font-bold tracking-wider whitespace-nowrap;
  }
  .text-subtitle {
    @apply text-zinc-400 text-center text-xl tracking-wide 
    max-lg:text-base;
  }
  .text-desc {
    @apply text-zinc-400 text-left text-xl tracking-wide list-disc ml-6
    max-lg:text-base
    max-md:w-[280px];
  }
  .icon-title {
    @apply mt-4 mb-20;
  }
}
